<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h2>ADD SUBJECT TO STUDENT</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      <tr>
        <td><%= data.id%></td>
        <td><%= data.first_name%></td>
        <td><%= data.last_name%></td>
        <td><%= data.email%></td>
      </tr>
    </table>
    <form action="/students/addSubject/<%= data.id%>" method="post">
      <select name="SubjectId">
        <% data2.forEach( row => {%>
          <option value="<%= row.id%>"><%= row.subject_name%></option>
        <%})%>
      </select>
      <br>
      <button class='button_3' type="submit">Submit</button>
    </form>
  </body>

</html>
