<%= JSON.stringify(data)%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= data[0].Subject.subject_name%></h2>

    <table>
      <tr>
        <td>Name</td>
        <td>Score</td>
      </tr>
      <%data.forEach(dat =>{%>
        <tr>
          <td><%= dat.Student.first_name + ' ' + dat.Student.last_name%></td>
          <td><a href="/subjects/givescore/<%=dat.StudentId%>/<%=dat.SubjectId%>">Give Score</a></td>
        </tr>
      <%})%>
    </table>
  </body>
</html>
