<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h2>STUDENTS TABLE</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    <% data.forEach(row => { %>
      <tr>
        <td><%= row.id%></td>
        <td><%= row.first_name%></td>
        <td><%= row.last_name%></td>
        <td><%= row.email%></td>
        <td>
          <a class="button_2" href="/students/edit/<%= row.id%>">Edit</a>
          <a class="button_del" href="/students/delete/<%= row.id%>" onclick="return confirm('Are you sure want to delete this student?');">Delete</a>
        </td>
      </tr>
    <%})%>
    </table>
    <a class="button_3" href="students/add">Add</a>
  </body>

</html>
