
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%-include layouts/header %>
  </head>
  <body>
    <%- include layouts/menu-bar%>
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Enroll Subjects</h2>
      <h4 class="text-center"><a href="subjects/add">Add Subject</a></h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Subject Name</th>
            <th>Teacher Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(row => { %>
            <tr>
              <td ><%= row.subject_name%></td>

              <td>
                <ol>
                <% row.first_name.forEach(name =>{%>
                  <li><%= name%></li>
                <% })%>
              </ol>
                </td>
              <td><a href="/subjects/enroll/<%= row.id%>">Enrolled Student</a></td>
            </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </body>
</html>
